title: Modules noyaux
nav:
    - intro.md
    - module.md
    - debugging.md
    - module-gen.md
    - install.md
    - parameters.md
    - malloc.md
    - bibliotheques.md
    - es.md
    - threads.md
    - concurrent.md
    - sommeil.md
    - interruptions.md
    - archives.md




