nav:
    - ... | index.*.md
    - organisation
    - documentation
{%- if week | int >= 1 %}
    - environnement
{%- endif %}
{%- if week | int >= 3 %}
    - programmation-noyau
{%- endif %}
{%- if week | int >= 5 %}
    - programmation-systeme
{%- endif %}
{%- if week | int >= 7 %}
    - optimisations
{%- endif %}
{%- if week | int >= 9 %}
    - mini-projet
{%- endif %}
