title: Pilotes de périphériques
nav:
    - intro.md
    - uio-driver.md
    - char.md
    - sysfs.md
    - dt.md
    - plateform.md
    - ioctl.md
    - procfs.md
    - blocking.md
    - practical-char-driver.md
    - practical-device-tree.md
    - practical-sysfs.md
    - practical-procfs.md
    - documentation.md
    - archives.md

